<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.shinb.plugins.filedownload" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ShinbPluginFileDownload</name>
  <js-module name="ShinbPluginFileDownload" src="www/ShinbPluginFileDownload.js">
    <clobbers target="cordova.plugins.ShinbPluginFileDownload"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="ShinbPluginFileDownload">
        <param name="ios-package" value="ShinbPluginFileDownload"/>
      </feature>
    </config-file>
    <source-file src="src/ios/ShinbPluginFileDownload.h"/>
    <source-file src="src/ios/ShinbPluginFileDownload.m"/>
    <source-file src="src/ios/TCBlobDownload.h"/>
    <source-file src="src/ios/TCBlobDownload-Prefix.pch"/>
    <source-file src="src/ios/TCBlobDownloader.h"/>
    <source-file src="src/ios/TCBlobDownloader.m"/>
    <source-file src="src/ios/TCBlobDownloadManager.h"/>
    <source-file src="src/ios/TCBlobDownloadManager.m"/>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ShinbPluginFileDownload">
        <param name="android-package" value="cn.shinb.plugins.filedownload.ShinbPluginFileDownload"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/ShinbPluginFileDownload.java"
                 target-dir="src/cn/shinb/plugins/filedownload"/>
    <source-file src="src/android/download_lib.jar" target-dir="libs"/>
  </platform>
</plugin>
